[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anytree = "*"
pefile = "*"
pillow = "*"
lxml = "*"

[dev-packages]
coverage = "*"
flake8 = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"

[scripts]
lint = "python -m flake8"
test = "python -m pytest"
