[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anytree = "*"
pefile = "*"
pillow = "*"

[dev-packages]
coverage = "*"
flake8 = "*"
pre-commit = "*"
pytest = "*"

[requires]
python_version = "3.10"
